@font-face {
    font-family: 'Avenir';
    src: url(avenir-book.ttf);
}

body {
	margin: 0;
	padding: 0;
	color: white;
	overflow: hidden;
	font-family: "Avenir" !important;
}

h1, p{
	font-weight: lighter;
}

.startover {
    position: absolute;
    z-index:4;
    width:186px;
    margin-top:10px;
    right:0;
    top:0;
}

label {
	vertical-align:bottom;
	font-weight: lighter;
	font-size:28px;
	margin-left:10px;
}

input[type='radio'] {
	width: 40px;
	height: 40px;
}

input[type="text"] {
	width: 35%;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	color: black;
	font-size:28px;
}

textarea {
	width: 100%;
	margin-top:5px;
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
	font-size:28px;
	resize: none;
}

td.input {
    text-align: center;
}

th {
    text-align: center;
}

input[type=range] {
    background-color: white;
    width: 35%;
    height: 50px;
	-webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #505050 ;
    width: 25px;
    height: 75px;
	-webkit-appearance: none;
}

.smallContainer {
	background-color: rgba(147, 140, 126, 0.8);
	position: absolute;
	top: 42%;
	margin-top: -250px;
	left: 0;
	width: 30%;
	height: 350px;
	z-index: 1;
	padding-left: 20px;
	padding-right:20px;
	box-sizing: border-box;
}

.questionContainer {
	z-index: 1;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	background-color: rgba(147, 140, 126, 0.8);
	position: absolute;
	top: 42%;
	margin-top: -250px;
	left: 0;
	width: 100%;
	height: 350px;
	z-index: 1;
	padding-left: 20px;
	padding-right:20px;
	box-sizing: border-box;
}

.question-title-small {
	font-size: 56px;
	text-align: center;
}

.question-title-small > small {
	color: white;
}

.question-title {
	font-size: 42px;
	text-align: center;
	margin: 30px;
}

.pure-button
{
	font-size: 24px !important;
}

.button-back {
	position: relative;
    left: -20px;
}

.button-clear {
	position: relative;
	left: 0px;
}

.button-next {
	position: relative;
    right: -20px;
}

.button-done {
	position: relative;
    left: 0px;
}

.button-begin {
	position: relative;
    left: 0px;
}

.tip {
	text-align:left;
	font-size: 28px;
}

.tipLarge {
	text-align: center;
	font-size: 32px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 28px;
    border-radius: 8px;
	margin-left:10px;
	margin-right: 10px;
}

.leaflet-popup-content {
	color: black;
	font-size: 28px;
}

#osk-container {
	color: black;
	font-size: 16px;
}

#map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#questions {
	margin-bottom: 20px;
    padding: 10px;
}



#navigation {
    text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	width: 600px;
	margin: 0 auto;
}

#partySize {
	font-size: 28px;
}